html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

header {
    position: fixed;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

li {
    padding-right: 10px;
}

a {
    color: orangered;
    text-decoration: none;
}

ul li a:hover {
    padding: 10px;
    background-color: rgb(50, 50, 50);
    text-decoration: underline;
}


.img-bem-vindo {
    position: relative;
    display: block;
    min-width: 99.2vw;
    max-height: 600px;
    filter: brightness(50%);
}

#bem-vindo {
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
    color: white;
}

.container-texto {
    position: absolute;
    top: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-ver-cardapio {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 73, 18);
    width: 120px;
    border-radius: 5px;
    padding: 8px;
}

.botao-ver-cardapio a {
    color: black;
    font-weight: 600;
}

#cardapio {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.conteiner-pizza-cardapio {
    background-color: rgb(217, 222, 228);
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}

.titulo-cardapio {
    display: flex;
    width: 98vw;
    justify-content: center;
}

.descricao-cardapio {
    margin: 20px 20px 10px 10px;
}

.img-pizza-cardapio {
    width: 300px;
    height: 300px;
}

#sobre-nos {
    background-image: url(imagens/pizza-sobre-nos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#sobre-nos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.container-texto-sobre-nos {
    margin: 5px;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}

#contato {
    text-align: center;
    padding: 40px 20px;
}

.info-contato {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.coluna {
    flex: 1;
    min-width: 220px;
    max-width: 300px;
}

.coluna a {
    color: orange;
    text-decoration: none;
}

.coluna a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333333;
    padding: 10px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}